@font-face {
  font-family: 'LCDSolid';
  src: url('assets/fonts/LcdSolid-VPzB.ttf') format('truetype');
  src: url('assets/fonts/LcdSolid-VPzB.woff2') format('woff2');
}
html, body, #Content {
    width: 100%;
    height: 100%;
    margin: 0px;
    font-family: "LCDSolid";
    user-select: none;
    -webkit-user-drag: none;
    z-index: 0;
  }

#Navbar {
  background-color: lightgrey;
  border: 1px;
  border-style: solid;
  border-color: black;
  display: flex;
}

#subdiv {
  display: inline-block;
  width: 10%;
  padding: 0%;
  background-color: lightslategray;
  border: 1px;
  border-style: solid;
  border-color: black;
  text-align: center;
}

#subdiv:active:not(:hover) {
  transform: scale(0.95);
  cursor: pointer;
}

#subdiv:hover:not(:active) {
  transform: scale(1.05);
  cursor: pointer;
}

#Clear {
  background-color: #f74f4f;
}

#AboutDiv {
  border: 5px;
  border-style: solid;
  border-color: #b06a3b;
  background-color: #b67f5a;
  position: relative;
  left: 34%;
  top: 30%;
  width: 35%;
  height: 40%;
  z-index: 100;
  visibility: hidden;
}

#AboutText {
  transform: translateY(-500%);
  font-size: xx-large;
  text-align: center;
  visibility: inherit;
}

#Close {
  transform: scale(0.2) translateX(-100%) translateY(-100%);
  position: relative;
  left: 0px;
  top: 0px;
  z-index: 101;
  -webkit-user-drag: none;
}

#Close:hover:not(:active) {
  cursor: pointer;
  transform: scale(0.25) translateX(-80%) translateY(-80%);
}

#Close:active:not(:hover) {
  transform: scale(0.15) translateX(-100%) translateY(-100%);
}

#AboutText2 {
  transform: translateY(-500%);
  text-align: center;
}

#Shop {
    position: absolute;
    right: 0%;
    top: 15%;
    transform: scale(0.4);
    transform-origin: top right;
}

#Stats {
  position: absolute;
  right: 0%;
  top: 55%;
  transform: scale(0.4);
  transform-origin: top right;
}

#ShopTab, #StatsTab {
  -webkit-user-drag: none;
}

#Shark {
  position: absolute;
  left: 50%;
  top: 35%;
  transform: translateX(-50%) scale(0.7);
  -webkit-user-drag: none;
}

#ShopText {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: rotate(-90deg) scale(7) translateY(-10%);
  padding: 0px;
  margin: 0px;
}

#StatsText {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: rotate(-90deg) scale(7) translateY(-10%);
  padding: 0px;
  margin: 0px;
}

#Shark:active:not(:hover) {
  transform: translateX(-50%) scale(0.65);
}

#Shark:hover:not(:active) {
  transform: translateX(-50%) scale(0.75);
}

#ShorksCount {
  position: absolute;
  left: 50%;
  top: 70%;
  transform: translateX(-50%);
  text-align: center;
  font-family: "LCDSolid";
  font-size: xx-large;
}
